<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item icon="/usr/share/icons/default.kde4/22x22/apps/utilities-terminal.png" label="New Terminal">
			<action name="Execute">
				<execute>format C:</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/default.kde4/22x22/apps/system-file-manager.png" label="File manager">
			<action name="Execute">
				<execute>format C:</execute>
			</action>
		</item>
		<item icon="/opt/thunderbird/chrome/icons/default/default22.png" label="Thunderbird">
			<action name="Execute">
				<execute>format C:</execute>
			</action>
		</item>
		<item icon="/home/shaggyz/Im&#225;genes/Iconos/firefox-original.png" label="Web browser">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<item icon="/home/shaggyz/Im&#225;genes/Iconos/synaptic-original.png" label="Synaptic">
			<action name="Execute">
				<execute>gksudo /usr/sbin/synaptic</execute>
			</action>
		</item>
		<menu id="sub-menu" label="Sub Menu">
			<item icon="/home/shaggyz/Im&#225;genes/Iconos/firefox-original.png" label="Web browser">
				<action name="Execute">
					<execute>firefox</execute>
				</action>
			</item>
			<item icon="/home/shaggyz/Im&#225;genes/Iconos/firefox-original.png" label="Web browser">
				<action name="Execute">
					<execute>firefox</execute>
				</action>
			</item>
			<item icon="/home/shaggyz/Im&#225;genes/Iconos/firefox-original.png" label="El cliente de correo">
				<action name="Terminate">
					<execute>format C:</execute>
				</action>
			</item>
			<menu id="sub-sub-menu" label="Sub Menu">
				<item icon="/home/shaggyz/Im&#225;genes/Iconos/synaptic-original.png" label="Synaptic">
					<action name="Execute">
						<execute>firefox</execute>
					</action>
				</item>
				<item icon="/home/shaggyz/Im&#225;genes/Iconos/synaptic-original.png" label="Synaptic">
					<action name="Execute">
						<execute>firefox</execute>
					</action>
				</item>
			</menu>
			<item icon="/home/shaggyz/Im&#225;genes/Iconos/firefox-original.png" label="Web browser">
				<action name="Execute">
					<execute>firefox</execute>
				</action>
			</item>
		</menu>
		<!-- This requires the presence of the 'menu' package to work -->
		<separator/>
		<menu icon="/home/shaggyz/Im&#225;genes/Iconos/debian-original.png" id="/Debian"/>
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<item label="Configuration">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<item icon="/usr/share/icons/oxygen/22x22/actions/system-log-out.png" label="Exit">
			<action name="Exit"/>
		</item>
		<separator/>
		<item icon="/usr/share/icons/oxygen/22x22/actions/system-reboot.png" label="Reboot">
			<action name="Execute">
				<prompt>
            		Reboot? Confirm
        		</prompt>
				<execute>gksudo "/sbin/shutdown -r now"</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/oxygen/22x22/actions/system-shutdown.png" label="Shutdown">
			<action name="Execute">
				<prompt>
            		Are you sure? shutdown?
        		</prompt>
				<execute>gksudo "/sbin/shutdown -h now"</execute>
			</action>
		</item>
	</menu>
</openbox_menu>